In [ ]:
#Diffrent ways of creating dataframe
# 1) Using CSV
# 2) Using Excel
# 3) From python dictionary
# 4) From list of tuples
# 5) From list of dictionaries

In [1]:
import pandas as pd
df=pd.read_csv(r'D:\kausik\BHP\Python\PANDADAY1\weather_data.csv')
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [ ]:
#df=pd.read_excel("")

In [7]:
# python dictionaries 
weather_data={
    'Day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': ['32','29','35'],
    'windspeed':['6','7','2'],
    'event': ['Rain', 'Sunny', 'Snow']
}
df=pd.DataFrame(weather_data)
df

        Day temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/2/2017          29         7  Sunny
2  1/3/2017          35         2   Snow

In [8]:
#using tupples list 
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017', 35,7,'Sunny'),
    ('1/3/2017', 28,2,'Snow')
]
df=pd.DataFrame(weather_data, columns =['Day','temprature', 'Windspeed', 'Event'])
df

        Day  temprature  Windspeed  Event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow

In [10]:
#List dictioneries
weather_data=[
    {
        'Day': '1/1/2017', 'Temperature': '32', 'Windspeed': '6','Event':'Rain'
    },
    {
        'Day': '1/2/2017', 'Temperature': '35', 'Windspeed': '7','Event':'Sunny'
    },
    {
        'Day': '1/3/2017', 'Temperature': '28', 'Windspeed': '2','Event':'Snow'
    }
]
df=pd.DataFrame(weather_data)
df

        Day Temperature Windspeed  Event
0  1/1/2017          32         6   Rain
1  1/2/2017          35         7  Sunny
2  1/3/2017          28         2   Snow